span.title-addon {
    display: inline-block;
    margin-left: 4px;
}

span.title-addon.-illegal {
    background-color: #c5071a5e;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 2px 4px;
}

span.title-addon.-legal {
    background-color: #07c5075e;
    border: 1px solid transparent;
    border-radius: 22px;
    padding: 4px 6px;
}

span.title-addon.-legal.-leboncoin {
    padding: 2px 10px;
}

.bad-price {
    display: inline-block;
    text-decoration: line-through;
}

.good-price {
    display: inline-block;
    margin-left: 10px;
}